/* Normalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* End Normalize */

/* Swiper */

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

/* End Swiper */

/* Fonts */

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* End Fonts */

/* Typography */

body {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

h1 {
  margin-bottom: 40px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 24px;
  line-height: 43px;
  color: #333333;
}

/* End Typography */

/* Base styles */

body {
  background-color: #fcfcfc;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 80px;
}

.main-content--actions .content-body__col-7,
.main-content--actions .content-body__col-2 {
  padding-top: 58px;
}

a {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-button {
  width: 314px;
  padding: 13px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #038dc6;
  border: 1px solid #038dc6;
  border-radius: 20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-button:hover {
  color: #038dc6;
  background-color: #ffffff;
}

.bread-crumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  line-height: 24px;
  color: #828282;
}

.bread-crumbs__item {
  position: relative;
  margin-right: 18px;
  color: #038dc6;
}

.bread-crumbs__item::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -12px;
  display: inline-block;
  width: 5px;
  height: 9px;
  background: url("../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
}

.bread-crumbs__item:last-child {
  color: #038dc6;
}

.bread-crumbs__item:last-child::after {
  display: none;
}

.bread-crumbs__link {
  font-size: 12px;
  line-height: 24px;
  color: #828282;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.bread-crumbs__link:hover {
  color: #038dc6;
}

.content-body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-body__col-3,
.content-body__col-7,
.content-body__col-10,
.content-body__col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

.content-body__col-3 {
  width: calc(29.16667% - 30px);
}

.content-body__col-7 {
  width: calc(58.33333% - 30px);
}

.content-body__col-10 {
  width: calc(87.5% - 30px);
}

.content-body__col-2 {
  width: calc(12.5% - 30px);
}

.tabs .tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.tabs ul.tabs__nav li {
  position: relative;
  width: 100%;
  line-height: 42px;
  color: #828282;
  background-color: #f6f6f6;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.tabs ul.tabs__nav li:hover {
  color: #ffffff;
  background-color: #038dc6;
}

.tabs ul.tabs__nav li.tabs__nav--active {
  display: block;
  font-weight: 500;
  color: #ffffff;
  background-color: #038dc6;
}

.tabs .tabs__container {
  width: 100%;
  background: #fff;
}

.tabs .tab__content {
  display: none;
}

.tabs-wrapper {
  height: 100%;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.accordeon {
  text-align: left;
}

.accordeon__title {
  position: relative;
  padding: 14px 25px;
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.accordeon__title::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 30px;
  width: 6px;
  height: 12px;
  background: url("../img/svg/big-arrow-right.svg") center no-repeat;
}

.accordeon__title:hover {
  color: #038dc6;
}

.accordeon__title:first-child {
  border-top: 1px solid transparent;
}

.accordeon__title a {
  color: inherit;
}

.accordeon__list {
  padding: 16px 16px 16px 30px;
}

.hidden {
  display: none;
}

.active-bg {
  color: #038dc6;
  border-top: 1px solid transparent;
}

.accordeon__title--active::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.reviews-btn {
  padding: 6px 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #038dc6;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.title-body {
  position: relative;
}

.filter-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  display: none;
  width: 26px;
  height: 24px;
  background: url("../img/svg/filter.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.close-btn {
  display: none;
  width: 18px;
  height: 18px;
  margin-bottom: 12px;
  margin-left: auto;
}

.empty-basket .main-title {
  margin-top: 50px;
  font-size: 36px;
}

.empty-basket__bread-crumbs {
  margin-top: 38px;
}

.empty-basket__warning {
  font-weight: 600;
  font-size: 20px;
  color: #202020;
}

/* End Base styles */

/* MAIN STYLES */

/* Header */

.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 0;
}

.header__logo {
  position: relative;
  margin-right: 42px;
}

.header__logo .logo__img {
  width: 260px;
  height: 60px;
}

.header__logo .logo__img-mobile {
  display: none;
  width: 178px;
}

.header__region {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 80px;
  font-size: 14px;
  line-height: 17px;
  color: #038dc6;
  border-bottom: 1px solid #038dc6;
}

.header__search {
  position: relative;
  width: 100%;
  max-width: 470px;
  margin-right: 42px;
}

.header__search input {
  width: 100%;
  padding: 13px 21px;
  padding-right: 41px;
  border: 1px solid #e0e0e0;
}

.header__search button {
  position: absolute;
  top: 11px;
  right: 7px;
  background: transparent;
  border: none;
  outline: none;
}

.header__hot-line {
  position: relative;
  padding-right: 52px;
  padding-left: 52px;
  font-size: 14px;
  color: #e31738;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.header__hot-line span {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  color: inherit;
  border-bottom: 1px solid #e31738;
}

.header__hot-line:hover span {
  color: #cc1532;
}

.header__hot-line svg {
  position: absolute;
  top: 18px;
  left: 28px;
}

.header__sign-in {
  padding-left: 42px;
}

.header__sign-in svg {
  position: absolute;
  top: 1px;
  left: -21px;
}

.header__sign-in a {
  position: relative;
  display: block;
  margin-left: 21px;
  font-size: 14px;
  line-height: 17px;
  color: #038dc6;
  border-bottom: 1px solid #038dc6;
}

.header__second-menu {
  padding-bottom: 17px;
}

.header__main-menu {
  border-top: 1px solid #e0e0e0;
}

.second-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-menu__item svg {
  width: 20px;
  height: 20px;
}

.second-menu__item a {
  padding: 4px 15px 0px 15px;
  color: #038dc6;
}

.second-menu__item a:hover {
  color: #464646;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  padding: 20px 0;
  white-space: nowrap;
}

.main-menu__item {
  padding: 0 15px;
}

.main-menu__item a {
  font-weight: 600;
  font-size: 16px;
  color: #464646;
}

.main-menu__item a:hover {
  color: #038dc6;
}

.main-menu__item--region,
.main-menu__item--sign {
  display: none;
}

.main-menu__item--region a,
.main-menu__item--sign a {
  color: #038dc6;
}

.main-menu__item--region {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-menu-icon {
  position: relative;
  display: none;
  width: 38px;
  height: 24px;
  margin: 0 15px;
}

.burger-menu-icon span {
  position: absolute;
  top: 9px;
  display: inline-block;
  width: 38px;
  height: 5px;
  background-color: #038dc6;
  outline: none;
  cursor: pointer;
}

.burger-menu-icon span::before,
.burger-menu-icon span::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #038dc6;
}

.burger-menu-icon span::before {
  top: -10px;
}

.burger-menu-icon span::after {
  bottom: -10px;
}

/* End Header */

/* Banner */

.s-banner {
  padding-top: 12px;
}

.s-banner__body {
  width: 100%;
  height: 100px;
}

.s-banner__body img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* End Banner */

/* Banners-body */

.banners-body__inner {
  width: 130px;
}

.banners-body__inner img {
  display: block;
  width: 130px;
  height: 275px;
  margin-bottom: 22px;
}

.banners-body__inner img:last-child {
  margin-bottom: 0;
}

/* End Banners-body */

/* Top-filter */

.top-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.top-filter__links {
  display: inline-block;
}

.top-filter__links a {
  margin-right: 20px;
  color: #038dc6;
}

.top-filter__links a:hover {
  text-decoration: underline;
}

.top-filter__links .link--list {
  color: #038dc6;
}

.top-filter__links .link--map {
  color: #828282;
}

.top-filter__links .link--all {
  color: #bdbdbd;
}

.top-filter form {
  display: inline-block;
}

.top-filter form span {
  font-weight: 500;
  color: #828282;
}

.top-filter form select {
  margin-left: 5px;
  padding: 0 20px 0 10px;
  font-weight: 500;
  color: #038dc6;
  background: url("../img/svg/arrow-down.svg") right center no-repeat;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

/* End Top-filter */

/* Main-filter */

.main-filter {
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.main-filter__item {
  position: relative;
  padding-left: 10px;
  padding-bottom: 14px;
  font-weight: 600;
}

.main-filter .main-filter__item-title {
  color: inherit;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.main-filter .main-filter__item-title:hover {
  color: #038dc6;
}

.main-filter .main-filter__arrow {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 6px;
  height: 12px;
  background: url(../img/svg/big-arrow-right.svg) center no-repeat;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.main-filter__links {
  margin-top: 10px;
}

.main-filter__links a {
  display: block;
  margin: 10px 0;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.main-filter__links a:hover {
  color: #038dc6;
}

/* End Main-filter */

/* Main-item */

.main-item {
  margin-bottom: 30px;
  padding: 20px 20px 10px 20px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.main-item:last-child {
  margin-bottom: 0;
}

.main-item a {
  font-weight: 500;
  font-size: 14px;
  color: #038dc6;
}

.main-item a:hover {
  text-decoration: underline;
}

.main-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.main-item__header-inner {
  width: 100%;
}

.main-item__header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 145px;
  height: 100px;
  margin-right: 20px;
  padding: 0 8px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.main-item__header-logo img {
  display: block;
}

.main-item__header-title {
  margin-bottom: 28px;
}

.main-item__header-title a {
  font-weight: bold;
  font-size: 22px;
  color: #038dc6;
}

.main-item__header-title a:hover {
  text-decoration: underline;
}

.main-item__header-btn {
  height: 35px;
  margin-left: 20px;
  padding: 8px 20px 8px 45px;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  background: url("../img/svg/checked-green.svg") 17px 8px no-repeat;
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-item__header-btn:hover {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.main-item__body {
  padding-top: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.main-item__body-tel {
  position: relative;
  padding-right: 10px;
  padding-left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #038dc6;
  cursor: default;
}

.main-item__body-tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: url("../img/svg/tel.svg") center no-repeat;
}

.main-item__body a:hover {
  text-decoration: none;
}

.main-item__body .eye {
  margin-left: 6px;
  cursor: pointer;
}

.main-item__body .tel-number {
  display: none;
}

.main-item__body .tel-dots {
  margin-left: 0;
  color: #e0e0e0;
}

.main-item__body .no-answer {
  display: none;
}

.main-item__body span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #038dc6;
}

.main-item__body p {
  font-size: 12px;
  color: #333333;
}

.main-item__body p span {
  margin-left: 0;
  font-weight: 700;
  color: #333333;
}

.main-item__body-links {
  position: relative;
  max-width: 540px;
  margin: 12px 0;
  padding-left: 25px;
  overflow: hidden;
}

.main-item__body-links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 20px;
  background: url("../img/svg/map-badge.svg") center no-repeat;
}

.main-item__show-more {
  display: none;
  position: relative;
  top: -11px;
  left: 18px;
  color: #038dc6;
  background: transparent;
  border: none;
  cursor: pointer;
}

.main-item__sale {
  position: relative;
  padding: 18px 0;
  padding-left: 25px;
  border-bottom: 1px solid #e0e0e0;
}

.main-item__sale::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../img/svg/sale.svg") center no-repeat;
}

.main-item__sale p {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  color: #333333;
}

.main-item__sale p span {
  font-weight: bold;
  font-size: 16px;
  color: #64c70e;
}

.main-item__swiper {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}

.main-item__swiper h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
}

.main-item__swiper a {
  font-weight: inherit;
  color: inherit;
}

.main-item__swiper .swiper-container {
  position: static;
}

.main-item__swiper .swiper-slide {
  width: 99px;
  height: 92px;
  border-radius: 10px;
}

.main-item__swiper .swiper-slide img {
  width: 99px;
  height: 92px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-item__swiper .swiper-button-prev,
.main-item__swiper .swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main-item__swiper .swiper-button-prev {
  left: -15px;
  background: url("../img/svg/big-arrow-right.svg") center no-repeat;
  background-color: #ffffff;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-item__swiper .swiper-button-next {
  right: -15px;
  background: url("../img/svg/big-arrow-right.svg") center no-repeat;
  background-color: #ffffff;
}

.main-item__buttons {
  padding: 15px 0;
}

.main-item__base-btn {
  width: 175px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  color: #4f4f4f;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-item__base-btn:hover {
  color: #ffffff;
  background-color: #4f4f4f;
}

.main-item__base-btn span {
  padding-left: 10px;
}

.main-item__counter {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #4f4f4f;
}

.main-item__counter span {
  position: absolute;
  top: -4px;
  right: -15px;
  font-size: 11px;
}

.main-item__counter::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 15px;
  height: 15px;
  background: url("../img/svg/counter.svg") center no-repeat;
}

.main-item .mobile-stars {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 0;
  padding-right: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.main-item .mobile-stars a:hover {
  text-decoration: none;
}

.main-item--yellow {
  color: #333333;
  background: #fee500;
}

.main-item--yellow a {
  color: inherit;
}

.main-item--yellow .main-item__header-logo,
.main-item--yellow .main-item__header-btn {
  background-color: #fff;
}

.main-item--yellow .main-item__header-btn {
  border: none;
}

.main-item--yellow .main-item__body-tel::before {
  background: url("../img/svg/tel-gray.svg") center no-repeat;
}

.main-item--yellow .main-item__body-links::before {
  background: url("../img/svg/map-badge-gray.svg") center no-repeat;
}

.main-item--yellow .main-item__sale::before {
  background: url("../img/svg/sale-green.svg") center no-repeat;
}

.main-item--yellow .main-item__sale p span {
  color: #375700;
}

.main-item--yellow .menu-dots span {
  background-color: #333;
}

.main-item--yellow .tel-dots {
  color: #fff;
}

.main-item--yellow .tel-number {
  color: #333;
}

.main-item--yellow .main-item__show-more {
  color: #333;
}

.main-item--blue {
  color: #ffffff;
  background: #038dc6;
}

.main-item--blue h3,
.main-item--blue p,
.main-item--blue a {
  color: inherit;
}

.main-item--blue .main-item__body p span {
  color: inherit;
}

.main-item--blue .main-item__header-logo,
.main-item--blue .main-item__header-btn {
  background-color: #fff;
}

.main-item--blue .main-item__header-btn {
  border: none;
}

.main-item--blue .main-item__body-tel::before {
  background: url("../img/svg/tel-white.svg") center no-repeat;
}

.main-item--blue .main-item__body-links::before {
  background: url("../img/svg/map-badge-white.svg") center no-repeat;
}

.main-item--blue .menu-dots span {
  background-color: #fff;
}

.main-item--blue .tel-number {
  color: #fff;
}

.main-item--blue .reviews-btn {
  color: #038dc6;
}

.main-item--blue .main-item__show-more {
  color: #fff;
}

.menu-dots {
  position: relative;
  display: none;
  height: 20px;
  margin-left: 10px;
}

.menu-dots span {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #828282;
  border-radius: 50%;
}

.menu-dots span::before,
.menu-dots span::after {
  content: "";
  position: absolute;
  display: block;
  width: inherit;
  height: inherit;
  background-color: inherit;
  border-radius: 50%;
}

.menu-dots span::before {
  top: 8px;
}

.menu-dots span::after {
  top: 16px;
}

.menu-dots__list {
  position: absolute;
  z-index: 10;
  top: 45px;
  right: 0;
  display: none;
  width: 220px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.menu-dots__list li {
  padding: 13px 13px;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}

.menu-dots__list li:last-child {
  border-bottom: 1px solid none;
}

.menu-dots__list a {
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.stars-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* End Main-item */

/* Text-block */

.s-block-text {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.s-block-text__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.s-block-text__col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.s-block-text__content {
  font-size: 16px;
  color: #828282;
}

.s-block-text__content p {
  padding-bottom: 20px;
}

.s-block-text__content p:last-child {
  padding-bottom: 0;
}

.s-block-text__content a {
  color: #038dc6;
}

.s-block-text__content a:hover {
  text-decoration: underline;
}

/* End Text-block */

/* Footer */

.footer {
  padding: 48px 0 15px 0;
  background-color: #f2f2f2;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 40px;
}

.footer__col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  padding: 0 26px;
}

.footer__counter {
  width: 132px;
  height: 43px;
}

.footer__menu-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}

.footer__menu-item {
  margin: 5px 0;
}

.footer__menu-item a {
  font-size: 14px;
  color: #038dc6;
}

.footer__menu-item a:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.footer__copyright p {
  margin-bottom: 3px;
}

/* End Footer */

/* Sub-footer */

.sub-footer {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 1000;
  bottom: 0;
  display: none;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}

.sub-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-footer button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #333333;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.sub-footer .calc-btn,
.sub-footer .feedback-btn {
  height: 35px;
  padding: 7px 15px;
  border-radius: 15px;
}

.sub-footer .calc-btn {
  background-color: #FFCB2D;
}

.sub-footer .up-btn,
.sub-footer .filter-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* End Sub-footer */

/* s-articles-search */

.s-search-articles {
  padding-bottom: 30px;
}

.s-search-articles__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-search-articles__form input {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
  max-width: 100%;
  height: 40px;
  margin-right: 5px;
  padding: 10px 21px;
  font-weight: 400;
  font-size: 14px;
  color: #4b4b4b;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.s-search-articles__form button {
  width: 80px;
  height: 40px;
  background-color: #038dc6;
  border: none;
  border-radius: 2px;
}

/* End s-articles-search */

/* s-articles-aside */

.s-articles-aside__title {
  margin-bottom: 30px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  border-bottom: 1px solid #e0e0e0;
}

.s-articles-aside__menu {
  margin-bottom: 35px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.s-articles-aside__menu li {
  border-bottom: 1px solid #f2f2f2;
}

.s-articles-aside__menu a {
  display: inline-block;
  width: 100%;
  padding: 14px 15px;
  font-weight: 500;
  font-size: 16px;
  color: #202020;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.s-articles-aside__menu a:hover {
  color: #038dc6;
}

.s-articles-aside__tags {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}

.s-articles-aside__tags a {
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 10px;
  color: inherit;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.s-articles-aside__tags a:hover {
  color: #038dc6;
}

/* End s-articles-aside */

/* base-articles */

.base-articles a {
  color: #038dc6;
}

.base-articles__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.base-articles__title span {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.base-articles__title a {
  font-weight: 500;
  font-size: 16px;
}

.base-articles__article {
  margin-bottom: 25px;
}

.base-articles__article:last-child {
  margin-bottom: 0;
}

.separator {
  margin: 35px 0;
  border: 1px solid #e0e0e0;
}

.article {
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.article__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.article__body img {
  width: 216px;
  height: 235px;
  margin-right: 15px;
  border-radius: 2px;
}

.article__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__date {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #828282;
}

.article__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
}

.article__text {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.article a {
  margin-left: auto;
}

.article__tags {
  padding: 12px 0;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.article__tags a {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}

.article__company {
  padding-top: 15px;
  font-weight: 600;
  font-size: 16px;
}

/* End base-articles */

/* s-article */

.s-article {
  margin-top: 30px;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.s-article a {
  color: #038dc6;
}

.s-article-item__date {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.s-article-item img {
  width: 100%;
  max-width: 670px;
  height: 235px;
  margin-bottom: 35px;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.s-article-item__text {
  margin-bottom: 20px;
}

.s-article-item__tags {
  padding: 12px 0;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.s-article-item__tags a {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}

.s-article-item__company {
  padding-top: 15px;
  font-weight: 600;
  font-size: 16px;
}

/* End s-article */

/* s-reviews */

.s-reviews__review-item {
  margin-bottom: 30px;
}

.review-item {
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.review-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.review-item__author {
  margin-right: 45px;
  font-weight: 700;
}

.review-item__date {
  font-weight: 500;
  font-size: 14px;
}

.review-item__stars {
  margin-left: auto;
}

.review-item__title {
  padding: 15px 0;
  font-weight: 600;
  color: #038dc6;
  border-bottom: 1px solid #e0e0e0;
}

.review-item__title a {
  color: inherit;
}

.review-item__text {
  padding: 15px 0;
}

.review-item__img {
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
}

.review-item__img img {
  display: block;
  width: 280px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.review-item__answer {
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
}

.review-item-answer {
  padding: 20px 20px;
  border: 1px solid #038dc6;
  border-radius: 2px;
}

.review-item-answer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.review-item-answer__name {
  margin-right: 48px;
  font-weight: 700;
}

.review-item-answer__prof {
  margin-right: 48px;
  font-weight: 500;
  font-size: 14px;
}

.review-item-answer__date {
  font-weight: 500;
}

.review-item-answer__text {
  padding-top: 25px;
  padding-bottom: 10px;
}

.reviews-feedback {
  padding: 70px 0;
  background-color: #ffffff;
}

.reviews-feedback__title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 22px;
  color: #202020;
}

.feedback-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.feedback-form__col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.feedback-form label {
  display: block;
  margin-bottom: 25px;
}

.feedback-form label:last-child {
  margin-bottom: 0;
}

.feedback-form p {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
}

.feedback-form p span {
  color: #d40000;
}

.feedback-form select {
  width: 100%;
  max-width: 100%;
  padding: 14px 15px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.feedback-form input {
  width: 100%;
  max-width: 100%;
  padding: 14px 15px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.feedback-form input::-webkit-input-placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form input::-moz-placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form input:-ms-input-placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form input::-ms-input-placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form input::placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form textarea {
  width: 100%;
  max-width: 100%;
  height: calc(100% - 29px);
  padding: 14px 15px;
  font-size: 16px;
  resize: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.feedback-form textarea::-webkit-input-placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form textarea::-moz-placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form textarea:-ms-input-placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form textarea::-ms-input-placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form textarea::placeholder {
  opacity: 0.5;
  color: #828282;
}

.feedback-form__header-button {
  display: block;
  margin-top: 45px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
}

.feedback-form__privacy {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #4f4f4f;
}

.feedback-form__privacy a {
  color: #038DC6;
}

/* End s-reviews */

/* s-basket */

.s-basket .main-title {
  margin-top: 50px;
  font-size: 36px;
}

.s-basket__bread-crumbs {
  margin-top: 38px;
}

.s-basket__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.s-basket__col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  margin-right: 0;
  border-right: 1px solid #e0e0e0;
}

.s-basket__col:last-child {
  border-right: none;
}

.basket-item__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  color: #202020;
}

.basket-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.basket-item__img img {
  width: 192px;
  height: 113px;
  margin-right: 11px;
  padding: 5px;
  border: 1px solid #B5B5B5;
}

.basket-item__descr {
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
}

.basket-item__descr p {
  margin-bottom: 10px;
}

.basket-item__descr p:last-child {
  margin-bottom: 0;
}

.basket-item__descr span {
  padding-left: 10px;
  color: #202020;
}

.basket-item__props {
  margin-bottom: 20px;
  font-weight: 600;
  color: #202020;
}

.basket-item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.basket-item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #038DC6;
  background: transparent;
  border: none;
}

.basket-item__btn:first-child {
  margin-right: 79px;
}

.basket-item__btn svg {
  margin-right: 10px;
}

/* End s-basket */

/* s-actions-aside */

.s-actions-aside__title {
  margin-bottom: 30px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  border-bottom: 1px solid #e0e0e0;
}

.s-actions-aside__menu {
  margin-bottom: 35px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.s-actions-aside__menu li {
  border-bottom: 1px solid #f2f2f2;
}

.s-actions-aside__menu a {
  display: inline-block;
  width: 100%;
  padding: 14px 15px;
  font-weight: 500;
  font-size: 16px;
  color: #202020;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.s-actions-aside__menu a:hover {
  color: #038dc6;
}

/* End s-actions-aside */

/* s-all-actions */

.s-all-actions a {
  color: #038dc6;
}

.s-all-actions__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.s-all-actions__title span {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.s-all-actions__title a {
  font-weight: 500;
  font-size: 16px;
}

.s-all-actions__article {
  margin-bottom: 25px;
}

.s-all-actions__article:last-child {
  margin-bottom: 0;
}

.s-all-actions .article-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-all-actions .article-sale__action {
  margin-right: 12px;
}

.s-all-actions .article-sale__action .main-item__sale {
  padding: 0;
  padding-left: 25px;
  border-bottom: none;
}

.s-all-actions .article-sale__action .main-item__sale p {
  color: #64c70e;
}

.s-all-actions .article-sale__action .main-item__sale::before {
  top: 2px;
}

.s-all-actions .article-sale__date {
  margin-top: 2px;
  font-weight: 700;
  font-size: 14px;
}

.s-all-actions .article-sale__activity {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
}

.s-all-actions .article-sale__activity--green {
  color: #64c70e;
}

.s-all-actions .article-sale__activity--red {
  color: #E31738;
}

/* End s-all-actions */

/* END MAIN STYLES */

@media screen and (max-width: 1200px) {
  .content-body__col-7 {
    width: calc(70.83333% - 30px);
  }

  .content-body__col-2 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .content-body__col-3 {
    display: none;
  }

  .content-body__col-7 {
    width: calc(100% - 30px);
  }

  .content-body__col-10 {
    width: calc(100% - 30px);
  }

  .tabs .tabs__nav {
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
  }

  .accordeon {
    border-top: 1px solid #e0e0e0;
  }

  .filter-icon {
    display: block;
  }

  .close-btn {
    display: block;
  }

  .header__logo {
    margin-right: 15px;
  }

  .header__logo .logo__img {
    display: none;
  }

  .header__logo .logo__img-mobile {
    display: block;
  }

  .header__region {
    display: none;
  }

  .header__search {
    width: 370px;
    margin-right: 0;
  }

  .header__hot-line {
    padding-right: 33px;
    padding-left: 0;
  }

  .header__hot-line p {
    display: none;
  }

  .header__hot-line span {
    display: none;
  }

  .header__hot-line svg {
    top: -17px;
    width: 20px;
    height: 30px;
  }

  .header__sign-in {
    padding-left: 30px;
  }

  .header__sign-in svg {
    top: -17px;
    width: 20px;
    height: 30px;
  }

  .header__sign-in span {
    display: none;
  }

  .header__second-menu {
    display: none;
  }

  .main-menu {
    position: relative;
    z-index: 500;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    background-color: #fff;
  }

  .main-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-menu__item {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
  }

  .main-menu__item:last-child {
    border-bottom: 1px solid transparent;
  }

  .main-menu__item a {
    font-size: 18px;
  }

  .main-menu__item--region {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-menu__item--region span {
    font-weight: 600;
  }

  .main-menu__item--region a {
    font-weight: 400;
    font-size: 14px;
  }

  .main-menu__item--sign {
    display: block;
  }

  .burger-menu-icon {
    display: block;
  }

  .main-filter {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    max-width: 85%;
    line-height: 30px;
  }

  .main-content {
    padding-bottom: 25px;
  }

  .bread-crumbs {
    display: none;
  }

  .burger-menu-icon {
    margin: 0;
    margin-left: 30px;
  }

  .s-banner {
    display: none;
  }

  .top-filter {
    display: none;
  }

  .s-block-text {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .s-block-text__col {
    width: calc(100% - 30px);
  }

  .s-block-text__col {
    padding-bottom: 20px;
  }

  .footer__row {
    padding-bottom: 0;
  }

  .footer__col {
    width: calc(50% - 30px);
  }

  .footer__col {
    margin-bottom: 30px;
    padding: 0;
  }

  .footer__menu-title {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .main-item__swiper .swiper-slide img {
    width: 75px;
    height: 70px;
  }
}

@media screen and (max-width: 576px) {
  .header__top {
    padding-bottom: 16px;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__search {
    display: none;
  }

  .main-item {
    padding-bottom: 20px;
  }

  .main-item__header-title {
    line-height: 22px;
  }

  .main-item__header-title a {
    font-size: 18px;
  }

  .main-item__header-stars {
    display: none;
  }

  .main-item__header-btn {
    display: none;
  }

  .main-item__swiper--last {
    padding-bottom: 0;
    border-bottom: none;
  }

  .main-item__swiper .swiper-button-prev,
  .main-item__swiper .swiper-button-next {
    display: none;
  }

  .main-item__buttons {
    display: none;
  }

  .main-item .mobile-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-dots {
    display: block;
  }

  .stars-wrapper .main-item__counter {
    display: none;
  }

  .footer {
    padding-bottom: 80px;
  }

  .sub-footer {
    display: block;
  }
}

@media (max-width: 380px) {
  .main-item__swiper .swiper-slide img {
    width: 88px;
    height: 82px;
  }
}