// Modular grid
// $base-module: 8px;
// $base-line-height: 24px;

// Fonts
$base-font-size: 16px;
$gilroy-font: "Gilroy";

// Colors
$base-text-color: #333333;
$base-white: #ffffff;
$base-blue: #038dc6;

// Borders
// $base-border: 1px solid $border-color;

// Effects
$link-underline-opacity: 0.5;
$base-transition: all 0.2s linear;