body {
    background-color: #fcfcfc;
}

.main-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-content {
    flex: 1 1 auto;
    padding-top: 20px;
    padding-bottom: 80px;
}

a {
    transition: $base-transition;
}

.container {
    @include container();
}

.header-button {
    width: 314px;
    padding: 13px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Gilroy";

    color: $base-white;

    background-color: $base-blue;
    border: 1px solid $base-blue;
    border-radius: 20px;
    transition: $base-transition;

    &:hover {
        color: $base-blue;
        background-color: $base-white;
    }
}

// Bread-crumbs
.bread-crumbs {
    padding: 20px 0;

    @include md-block() {
        display: none;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 24px;

        color: #828282;
    }

    &__item {
        position: relative;
        margin-right: 18px;
        color: $base-blue;

        &::after {
            content: "";
            position: absolute;
            top: 8px;
            right: -12px;
            display: inline-block;
            width: 5px;
            height: 9px;

            background: url("../../img/svg/arrow-right.svg");
            background-repeat: no-repeat;
        }

        &:last-child {
            color: $base-blue;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link {
        font-size: 12px;
        line-height: 24px;

        color: #828282;
        transition: $base-transition;

        &:hover {
            color: $base-blue;
        }
    }
}

.content-body {
    // .content-body__top-filter

    &__top-filter {
    }

    // .content-body__row

    &__row {
        @include row-flex();
    }

    &__col-3,
    &__col-7,
    &__col-2 {
        @include col();
    }

    &__col-3 {
        @include size(3);

        @include lg-block() {
            display: none;
        }
    }

    // .content-body__col-7

    &__col-7 {
        @include size(7);
        @include size-xl(9);
        @include size-lg(12);
    }

    // .content-body__col-2

    &__col-2 {
        @include size(2);

        @include xl-block() {
            display: none;
        }
    }
}

.tabs {
    .tabs__nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    ul.tabs__nav li {
        position: relative;
        width: 100%;
        line-height: 42px;

        color: #828282;

        background-color: #f6f6f6;

        overflow: hidden;
        transition: all 0.2s linear;
        cursor: pointer;
    }

    ul.tabs__nav li:hover {
        color: #ffffff;
        background-color: $base-blue;
    }

    ul.tabs__nav li.tabs__nav--active {
        display: block;
        font-weight: 500;
        color: #ffffff;
        background-color: $base-blue;
    }

    .tabs__container {
        width: 100%;
        background: #fff;
    }

    .tab__content {
        display: none;
    }
}

.accordeon {
    text-align: left;

    &__title {
        position: relative;
        padding: 14px 25px;

        font-family: Lato;
        font-weight: 700;
        font-size: 16px;

        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;

        transition: all 0.2s linear;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            top: 17px;
            right: 30px;
            width: 6px;
            height: 12px;
            background: url("../img/svg/big-arrow-right.svg") center no-repeat;
        }

        &:hover {
            color: $base-blue;
        }

        &:first-child {
            border-top: 1px solid transparent;
        }
    }

    &__list {
        padding: 16px 16px 16px 30px;
    }
}

.hidden {
    display: none;
}

.active-bg {
    color: $base-blue;
    border-top: 1px solid transparent;
}

.accordeon__title--active::after {
    transform: rotate(90deg);
}
