body {
    font-family: "Lato";
    font-weight: 400;
    font-size: $base-font-size;
    color: $base-text-color;
}

h1 {
    padding-bottom: 40px;
    font-family: $gilroy-font;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #333333;
}