body {
    font-family: "Lato";
    font-weight: 400;
    font-size: $base-font-size;
    color: $base-text-color;
}

h1 {
    font-family: $gilroy-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;

    color: #333333;

    @include md-block() {
        max-width: 85%;
        line-height: 30px;
    }
}