body {
    font-weight: 400;
    font-size: $base-font-size;
    font-family: "Lato";
    color: $base-text-color;
}

h1 {
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    font-family: $gilroy-font;

    color: #333333;
}

/*
h2 {
    font-size: 36px;
    line-height: $base-line-height * 2;
    margin-bottom: $base-line-height;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
    font-weight: bold;
}
*/
