.finished-windows {
  a {
    color: #038dc6;
  }

  &__row {
    @include row-flex();
    margin: 0 -7px;

    @include sm-block() {
      justify-content: center;
      margin: 0 -14px;
    }
  }

  &__col {
    @include col();
    @include size(4);
    @include size-sm(12);
    width: calc(33.33333% - 14px);
    margin: 0 7px 20px 7px;
    padding: 11px;
  }
}

.finished-windows-aside {
  padding: 30px 15px;
}

.window-filter {
  &__block {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 15px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__btn {
    width: 100%;
  }

  .popup-form__label {
    margin-bottom: 8px;

    input {
      width: auto;
    }

    span {
      margin-left: 10px;
      padding-top: 4px;
      font-weight: 500;
      font-size: 14px;
      color: #202020;
    }
  }

  .ui-slider {
    height: 3px;
    background: #e0e0e0;
    border: none;
  }

  .ui-slider-range {
    background: #038DC6;
  }

  .ui-slider-handle {
    top: -0.4em;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}

.window-small-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 342px;

  @include sm-block() {
    text-align: center;
  }

  &__title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid #e0e0e0;

    @include sm-block() {
      justify-content: center;
    }
  }

  &__img {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      max-width: 203px;
      height: 100%;
      max-height: 121px;
      object-fit: cover;

      @include sm-block() {
        max-width: 100%;
      }
    }
  }

  &__description {
    margin-bottom: 25px;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;

    p {
      margin-bottom: 10px;
    }
  }

  &__price {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;

    color: #64c70e;
  }
}

.base-block-swiper {
  position: relative;
  margin-bottom: 40px;
  padding: 35px 0 33px 0;
}

.finished-windows-swiper {
  margin: 0 75px;
  overflow: hidden;

  .swiper-slide {
    width: auto;
    text-align: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    z-index: 10;
    top: 40%;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);

    cursor: pointer;
  }

  .swiper-button-prev {
    left: 15px;
    background: url("../img/svg/big-arrow-right.svg") center no-repeat;
    background-color: #ffffff;
    transform: rotate(180deg);
  }

  .swiper-button-next {
    right: 15px;
    background: url("../img/svg/big-arrow-right.svg") center no-repeat;
    background-color: #ffffff;
  }
}
