.standart-windows-card {
  margin-bottom: 25px;

  &__windows-card-header {
    padding: 25px;
  }
}

.description-table--standart {
  margin-bottom: 100px;
  padding: 25px;
}

.windows-offer {
}

.windows-offer--standart {
  margin-bottom: 50px;
}
